{% extends 'base.html.twig' %}

{% block title %}Hello {{ title }}{% endblock %}

{% set string = "some string \n from \n database" %}
{% block body %}

    <div class="container">

        <nav>
            <ul>
                <li><a href="{{ path('home') }}">Home</a></li>
            </ul>
        </nav>
        <div class="absolute-path">
            <a href="{{ url('home') }}">Click on absolute path!</a>
        </div>
        <div>{{ asset('images/coffee-time.jpg') }}</div>
        <div>{{ absolute_url(asset('images/coffee-time.jpg')) }}</div>
        <div class="image-path">
            <img src="{{ absolute_url(asset('images/coffee-time.jpg')) }}" alt="Coffee Time">
        </div>

        {{ string|escape('html') }}

    </div>

     <p>The google tracking code is: {{ ga_code }} from ./config/packages/twig.yaml</p>
{% endblock %}


{% block javascripts %}
    <script>
        var route = "{{ string|escape('js') }}";

       // alert(route)

    </script>
{% endblock %}
